{% extends "main/base.html" %}

{% block title %}
XSSpear
{% endblock %}

{% block content %} 
  <!-- Background video -->
  <div class="video-background-holder">
    <div class="video-background-overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="/static/img/bg-1.mp4" type="video/mp4">
      </video>
    <div class="video-background-content container h-100">
      <div class="d-flex h-100 align-items-start m-5">
        <div class="w-100 text-white">
          <h1 class="display-1">XSSpear</h1>
          <p class="lead mb-0">a <code>Python 3.1</code> based reflective cross-site scripting detection tool </p>
          <p class="lead">with <code>100%</code> valid results.</p>
          {% if user.is_authenticated %}
		    <button class="btn-1 btn--white btn-1--animated mt-3" onclick="location.href='/xsscan/';">New Scan</button>
		  {% else %}
			<button class="btn-1 btn--white btn-1--animated mt-3" onclick="location.href='/register/';">Register Now</button>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- End -->
  <section id="section-1" class="py-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="display-4">Description:</h1>
          <p class="lead"><code>Python 3.1-based</code> reflective cross-site scripting detection tool, a powerful tool for quickly and accurately identifying <code>.XSS vulnerabilities</code> in single target URLs or Subdomains by detecting only reflections of special characters.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="section2">
    <div class="container text-center mt-5 mb-5">
      <h2 class="font-weight-bold pb-5">How it works?</h2>
      <div class="row m-2">
        <div class="col-md-4 p-5">
          <img src="/static/img/copyPaste-icon.png" width="150px" alt="" class="img-fluid d-none d-md-inline">
          <h3>Copy/Paste</h3>
          <p class="lead">Copy and paste your targets <code>url/subdomain</code></p>
        </div>

        <div class="col-md-4 p-5">
          <img src="/static/img/scan-icon.png" width="150px" alt="" class="img-fluid d-none d-md-inline">
          <h3>Start Scan</h3>
          <p class="lead">Start the scan by clicking on the <code>Scan</code> button</p>
        </div>

        <div class="col-md-4 p-5">
          <img src="/static/img/waiting-icon.png" width="150px" alt="" class="img-fluid d-none d-md-inline">
          <h3>Wait for results</h3>
          <p class="lead">Please wait a moment while <code>XSSpear</code> generates results for you</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}