{% extends "main/base.html" %}
{% block title %}Targets{% endblock %}
 
{% block content %}
  <section id="section3">
    <div class="container text-center section-container">
      <h2 class="font-weight-bold pb-5">Your <code>targets</code> down here.</h2>

      <ul class="list-group list-group-flush">
	  {% for td in user.targetslist.all %}
		{% for item in td.item_set.all %}
			<a href="/targets/{{item.id}}"><li class="list-group-item">{{item.text}}</li></a>
		{% endfor %}
	  {% endfor %}
      </ul>
      </div>
    </div>
  </section>		
{% endblock %}